<div class="panel panel-default clearfix no-margin">

  <div class="panel-heading text-center clearfix">
    <form class="form-inline margin-tb" onsubmit="return assign_search()">
      <div class="form-group pull-left dropdown margin-left">
        <button type="button" class="btn btn-primary btn-mg dropdown-toggle" data-toggle="dropdown">Department&nbsp;
          <span class="caret"></span></button>
        <div class="dropdown-menu">
          <div class="margin-lr">
            {{#each dept}}
            <input type="radio" name="assign_dept" value="{{name}}" onchange="changeIn_assign_dept()"> {{name}}
            <br>
            {{/each}}
            <input type="radio" name="assign_dept" value="all" onchange="changeIn_assign_dept()" checked> All
          </div>
        </div>
      </div>
      <div class="form-group pull-left">
        <input type="text" class="form-control input-mg" placeholder="Search" id="assign_query_inp">
      </div>
      <div class="form-group pull-left margin-lr">
        <button type="submit" class="btn btn-danger btn-mg" id="assign_search_btn" data-loading-text="<i class='fa fa-circle-o-not fa-spin'></i> searching..">
          Search</button>
      </div>
      <div class="form-group pull-left">
        <button type="button" class="btn btn-primary btn-mg" onclick="assign_search_clear()">
          Clear Search</button>
      </div>
    </form>
  </div>

  <div class="panel-body text-center">
    <ul class="list-group text-left" id="assign_list">
      {{#each users}}
      <li class="clearfix list-group-item{{#even-item}}{{/even-item}}">
        <div class="btn-group-xs pull-right">
          <button type="button" class="btn btn-danger" onclick="show_modal('assign_assign_modal','{{id}}')">Assign</button>
          <button type="button" class="btn btn-primary" onclick="show_modal('assign_show_modal','{{id}}')">Show</button>
        </div>
        {{id}}
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="panel-footer text-center clearfix">
    <div class="pull-right">
      <button type="button" class="btn btn-default" onclick="assign_list_prev()">&lt; Previous </button>
      <button type="button" class="btn btn-default" onclick="assign_list_next()"> Next &gt;</button>
    </div>
    <div id="assign_list_footer_info">
    </div>
  </div>

  <!--
  --------------------------------------------------------
  MODAL SECTION
  --------------------------------------------------------
  -->
  <!----------------------------------------->
  <div id="assign_assign_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Staff</h4>
        </div>
        <div class="modal-body">
          <div id="assign_assign_info" class="margin-bottom">
          </div>
          <div class="well no-margin">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#assign_classAdv_form" data-toggle="tab" onclick="assign_active_form('assign_classAdv_form')">
                Class Advisor</a></li>
              <li><a href="#assign_facultyAdv_form" data-toggle="tab" onclick="assign_active_form('assign_facultyAdv_form')">
                Faculty Advisor</a></li>
              <li><a href="#assign_subject_form" data-toggle="tab" onclick="assign_active_form('assign_subject_form')">
                Subject Teacher</a></li>
            </ul>
            <div class="tab-content margin-all">

              <form id="assign_classAdv_form" class="tab-pane fade in active">
                <input type="hidden" class="form-control" name="type" value="class_advisor">
                <div class="form-group">
                    <label for="input_staff">Staff ID</label>
                    <input type="text" class="form-control" id="assign_classAdv_staff" name="staff" placeholder="Staff ID" disabled>
                </div>
                <div class="form-group">
                    <label for="selectBatch">Batch</label>
                    <select class="form-control" id="assign_classAdv_Batch" name="batch">
                      {{#each batches}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectDept">Department</label>
                    <select class="form-control" id="assign_classAdv_dept" name="dept">
                      {{#each dept}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectClass">Section</label>
                    <select class="form-control" id="assign_classAdv_section" name="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                      <option value="F">F</option>
                      <option value="G">G</option>
                      <option value="H">H</option>
                      <option value="I">I</option>
                      <option value="J">J</option>
                    </select>
                </div>
              </form>

              <form id="assign_facultyAdv_form" class="tab-pane fade">
                <input type="hidden" class="form-control" name="type" value="faculty_advisor">
                <div class="form-group">
                    <label for="input_staff">Staff ID</label>
                    <input type="text" class="form-control" id="assign_facultyAdv_staff" name="staff" placeholder="Staff ID" disabled>
                </div>
                <div class="form-group">
                    <label for="selectBatch">Batch</label>
                    <select class="form-control" id="assign_classAdv_Batch" name="batch">
                      {{#each batches}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectDept">Department</label>
                    <select class="form-control" id="assign_classAdv_dept" name="dept">
                      {{#each dept}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectClass">Section</label>
                    <select class="form-control" id="assign_classAdv_section" name="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                      <option value="F">F</option>
                      <option value="G">G</option>
                      <option value="H">H</option>
                      <option value="I">I</option>
                      <option value="J">J</option>
                    </select>
                </div>
                <div class="form-group">
                  <a href="#" onclick="assign_stud_list()">Show Student</a>
                </div>
                <div class="form-group">
                  <label for="selectStudent">Select the students:</label>
                  <select multiple class="form-control" id="assign_facultyAdv_stud" name="stud">
                  </select>
                </div>
              </form>

              <form id="assign_subject_form" class="tab-pane fade">
                <input type="hidden" class="form-control" name="type" value="subject_teacher">
                <div class="form-group">
                    <label for="input_staff">Staff ID</label>
                    <input type="text" class="form-control" id="assign_subject_staff" name="staff" placeholder="Staff ID" disabled>
                </div>
                <div class="form-group">
                    <label for="selectBatch">Batch</label>
                    <select class="form-control" id="assign_subject_Batch" name="batch">
                      {{#each batches}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectDept">Department</label>
                    <select class="form-control" id="assign_subject_dept" name="dept">
                      {{#each dept}}
                        <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectClass">Section</label>
                    <select class="form-control" id="assign_subject_section" name="section">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                      <option value="F">F</option>
                      <option value="G">G</option>
                      <option value="H">H</option>
                      <option value="I">I</option>
                      <option value="J">J</option>
                    </select>
                </div>
                <div class="form-group">
                  <a href="#" onclick="assign_stud_list()">Show Student</a>
                </div>
                <div class="form-group">
                  <label for="selectStudent">Select the students:</label>
                  <select multiple class="form-control" id="assign_subject_stud" name="stud">
                  </select>
                </div>
                <div class="form-group">
                    <label for="input_subcode">Subject Code</label>
                    <input type="text" class="form-control" id="assign_subject_code" name="sub_code" placeholder="Subject Code">
                </div>
                <div class="form-group">
                    <label for="selectSem">Semester</label>
                    <select class="form-control" id="assign_subject_sem" name="sem">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                </div>
              </form>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="assign_assign_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
            onclick="assign_assign()">Assign</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------->

  <div id="assign_show_modal" class="modal fade text-left">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Staff's Assign Data</h4></div>
          <div class="modal-body">
            <div id="assign_show_info" class="margin-bottom">
              <div class="alert alert-info text-center">
                <span><i class="fa fa-circle-o-notch fa-spin"></i> <strong>Loading..</strong></span>
               </div>
            </div>
            <div class="table-responsive well">
              <table class="table table-bordered small no-margin">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Batch</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>No. of Students</th>
                    </tr>
                </thead>
                <tbody id="assign_show_table_body">

                </tbody>
                </table>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
