<html>

<head>
  <meta charset="utf-8" />
  <title>History Card Management System | User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Load css -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/c3.min.css">

  <!-- Load js -->
  <script type="text/javascript" src="js/d3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/c3.min.js"></script>
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/admin_ctrl.js"></script>
  <script type="text/javascript" src="js/handlebars.js"></script>
</head>


<body class="container">

  <div class="row clearfix">
    <div class="col-md-12 no-padding">
      <div class="box">

        <nav class="navbar navbar-default">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">History Card Mangagement System</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="glyphicon glyphicon-user"></span> {{username}}
                  <cspan class="caret">
                    </span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Settings</a></li>
                </ul>
              </li>
              <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>  logout</a></li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 no-padding">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#batch"><span class="glyphicon glyphicon-th-list"></span>  Batch</a></li>
        <li><a data-toggle="tab" href="#user" onclick="fetch_tab('user')"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        <li><a data-toggle="tab" href="#subject" onclick="fetch_tab('subject')"><span class="glyphicon glyphicon-book"></span> Subjects</a></li>
        <li><a data-toggle="tab" href="#assign" onclick="fetch_tab('assign')"><span class="glyphicon glyphicon-paperclip"></span> Assign</a></li>
      </ul>

      <div class="tab-content border-no-top margin-all">

        <div id="batch" class="tab-pane fade in active">
          <div class="panel panel-default clearfix no-margin">
            <div class="panel-heading text-center clearfix">
              <form class="form-inline margin-tb" onsubmit="return batch_search()">
                <div class="form-group pull-left">
                  <input type="text" class="form-control input-mg" placeholder="Search" id="batch_query_inp">
                </div>
                <div class="form-group pull-left margin-lr">
                  <button type="submit" class="btn btn-danger btn-mg" id="batch_search_btn" data-loading-text="<i class='fa fa-circle-o-not fa-spin'></i> searching..">
          Search</button>
                </div>
                <div class="form-group pull-left">
                  <button type="button" class="btn btn-primary btn-mg" onclick="batch_search_clear()">
          Clear Search</button>
                </div>
              </form>
              <button type="button" class="btn btn-primary btn-mg pull-right" onclick="show_modal('add_batch_modal')">
      Add Batch</button>
            </div>

            <div class="panel-body text-center">
              <ul class="list-group text-left" id="batch_list">
                {{#each batch}}
                <li class="clearfix list-group-item{{#even-item}}{{/even-item}}">
                  <div class="btn-group-xs pull-right">
                    <button type="button" class="btn btn-default" onclick="show_modal('edit_batch_modal', '{{name}}')">Edit</button>
                    <button type="button" class="btn btn-primary" onclick="show_modal('update_batch_modal', '{{name}}')">Update</button>
                    <button type="button" class="btn btn-success" onclick="show_modal('backup_batch_modal', '{{name}}')">Backup</button>
                    <button type="button" class="btn btn-danger" onclick="show_modal('delete_batch_modal', '{{name}}')">Delete</button>
                  </div>
                  {{name}}
                </li>
                {{/each}}
              </ul>
            </div>

            <div class="panel-footer text-center clearfix">
              <div id="batch_list_footer_info">
              </div>
            </div>

            <!--
  --------------------------------------------------------
  MODAL SECTION
  --------------------------------------------------------
  -->


            <div id="add_batch_modal" class="modal fade text-left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Batch</h4>
                  </div>
                  <div class="modal-body">
                    <div id="add_batch_info" class="margin-bottom">
                    </div>
                    <div class="well no-margin">
                      <form id="add_batch_form">
                        <div class="form-group">
                          <label for="inputOldBatch">Batch Name:</label>
                          <input type="text" class="form-control" id="inputBatch" name="batch" placeholder="Enter the name of the new batch">
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="add_batch_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
                      onclick="add_batch()">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!----------------------------------------->

            <div id="edit_batch_modal" class="modal fade text-left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Batch</h4>
                  </div>
                  <div class="modal-body">
                    <div id="edit_batch_info" class="margin-bottom">
                    </div>
                    <div class="well no-margin">
                      <form id="edit_batch_form">
                        <div class="form-group">
                          <label for="inputOldBatch">Batch Name:</label>
                          <input type="text" disabled class="form-control" id="inputOldBatch" name="batch" placeholder="Batch - Old name">
                        </div>
                        <div class="form-group">
                          <label for="inputNewBatch">New Batch Name:</label>
                          <input type="text" class="form-control" id="inputNewBatch" name="new_name" placeholder="Batch - New name">
                        </div>
                        <div class="form-group">
                          <label for="inputCurSem">Current Semester:</label>
                          <select class="form-control" id="selectCurSem" name="sem">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                           </select>
                        </div>
                        <div class="checkbox" id="divOldBatch">
                          <label><input type="checkbox" name="old_batch" value="1"> Old Batch (Tick if this batch is not a current batch)</label>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="edit_batch_btn" data-loading-text="<i class='fa fa-circle-o-not  ch fa-spin'></i> please wait.."
                      onclick="submit_form_edit_batch()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!----------------------------------------->

            <div id="update_batch_modal" class="modal fade text-left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form onsubmit="return update_batch()">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Upload Batch Data</h4></div>
                    <div class="modal-body">
                      <input type="hidden" class="form-control" id="updateBatchName">
                      <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                        <input type="text" class="form-control" placeholder="Select a file to upload" id="uploadBatchFile">
                        <span class="input-group-btn">
                <span class="btn btn-default btn-file">Browse
                <input type="file" name="batch_csv" onchange="$('#uploadBatchFile').val($(this).val());"></span>
                        </span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Upload</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!----------------------------------------->
            <div id="backup_batch_modal" class="modal fade text-left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Backup batch</h4></div>
                  <div class="modal-body">
                    <input type="hidden" class="form-control" id="backupBatchName">
                    <p class="well no-margin">Please tell us in which form you want to backup the database.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="download_batch_sql()">
                             Export as SQL</button>
                    <button type="button" class="btn btn-primary" onclick="download_batch_csv()">
                             Export as CSV</button>
                  </div>
                </div>
              </div>
            </div>
            <!----------------------------------------->

            <div id="delete_batch_modal" class="modal fade text-left">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure want to delete the batch ?</h4>
                  </div>
                  <form onsubmit="return delete_batch()">
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="inputBatchName">Batch Name:</label>
                        <input type="text" disabled class="form-control" id="deleteBatchName" placeholder="Batch name">
                      </div>
                      <div class="form-group">
                        <label for="inputSuperKey">Enter the super-key: </label>
                        <input type="password" class="form-control" id="inputSuperKey" placeholder="Super-key">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-danger" id="delete_batch_btn" data-loading-text="<i class='fa fa-circle-o-not ch fa-spin'></i> please wait..">
                              Delete</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>

          </div>

        </div>

        <div id="user" class="tab-pane fade">
        </div>

        <div id="subject" class="tab-pane fade">
        </div>

        <div id="assign" class="tab-pane fade">
        </div>

      </div>
    </div>
  </div>

</body>

</html>